body {
    font-family: Arial, sans-serif;
    background-image: url('trainbook.jpeg');
    background-size: cover;
    background-position: center;
  }
  
  #payment-result {
    display: none;
  }
  
  .success {
    color: green;
  }
  
  .failure {
    color: red;
  }
  
  .payment-successful {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .payment-successful img {
    max-width: 100%;
    height: auto;
  }